[submodule "wswrap"]
	path = wswrap
	url = https://github.com/black-sliver/wswrap.git
[submodule "websocketpp"]
	path = websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
